body {
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000000;
}

.row {
	margin-bottom: 1px;
	background: #111;
}

.row:nth-child(even) {
	background: #090909;
}

.player-template {
	padding: 10px 20px 7.5px;
	font-size: 11px;
}

.player-template .position {
	font-weight: 700;
	font-style: italic;
	font-size: 11px;
	padding-bottom: 5px;
}

h1 {
	font-size: 11px;
	padding-top: 10px;
	margin-top: 0;
	font-style: italic;
	text-transform: uppercase;
	text-shadow: 0px 0px;
	font-weight: 700;
}

.title .row {
	background: #fff;
}

.title {
	text-shadow: 0px 0px;
	color: green;
}

button {
	width: 100%;
	color: #222;
	background: green;
	color: #fff; 
	margin: 0px;
}

.buttons {
	position: fixed;
    right: 0;
    padding: 16px;
    background: #fff;
    z-index: 99;
}

.addButton button {
	background: blue;
	border: none;
}

#lineups .row:hover {
	background: #222;
	cursor: pointer;
}

#lineups .row:hover .addButton button {
	background: lightblue;
}