/*
gray
#5c6469

dk gray 
#44494c

blue text
#36b7c5

light gray text
#bdc5cb

green
#54af7a

red pink
#e85757

*/

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'open_sansregular';
	background-color: #222;
	color: #fff;
	letter-spacing: 1px;
	padding-bottom: 100px;
	text-transform: lowercase;
	padding-top: 60px;
}

.row {
	margin-bottom: 0px;
	background: #5c6469;
	background: #222;
	border-bottom: 1px solid #111;
	transition: all 0.5s ease;
}

.nav-content,
.upload-panel {
	text-align: center;
}

.upload-panel {
	display: none;
	padding: 0 10px 20px;
}

.upload-players {
    display: inline-block !important;
    
    }

.row.reveal-data {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #111 !important;
}

.row:nth-child(even) {
	/*background: #6d757b;*/
}

.input-lineup {
	display: block;
	width: 60%;
	max-width: 760px;
	margin: 20px auto;
	color: #222;
}

input[type="text"].input-lineup {
	line-height: 40px;
	text-align: center;
}

.generate-lineups span {
	background: #54af7a;
	color: #fff;
	padding: 14px 20px;
	margin-top: 40px;
	display: block;
	margin: 40px auto 0;
	text-align: center;
	cursor: pointer;
}

.player-template,
.addDiv, 
.reveal {
	padding: 10px 20px 7.5px;
	font-size: 11px;
}

.player-template .position {
	font-weight: 700;
	/*font-style: italic;*/
	font-size: 11px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

h1.input-lineup,
h3.input-lineup {
	color: #fff;
    text-align: center;
}

h3.input-lineup {
	text-transform: uppercase;
	font-size: 16px;
}

.title {
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}

.title .row {
	background: #272F35;
	background: #222;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cart {
	text-align: center;
}

.position {
	color: #36b7c5;
}

.team,
.price,
.weight {
	display: none;
}

.min, .max {
	cursor: pointer;
}

.reveal-data .team,
.reveal-data .price,
.reveal-data .weight {
	display: block;
}

.suitableLineup {
	color: #54af7a;
}

.unsuitableLineup {
	color: #e85757;
}

.over {
	color: #e85757;
}

.under {
	color: #49AF78;
}

.addButton div,
.revealButton div {
	background: #49AF78;
	border: none;
    display: block;
    font-size: 12px;
   /* border-radius: 4px;*/
    text-align: center;
}

#lineups .row:hover {
	background: #44494c;
	background: #191919;
	cursor: pointer;
}

#lineups .row:hover .addButton div,
#lineups .row:hover .revealButton div,
.reveal-data .revealButton div,
.reveal-data .addButton div {
	background: #36b7c5;
}